@model EditViewModel
@{
    ViewBag.Title = "Change Photo";
}

<h2>Change Photo</h2>
<form method="post" asp-action="EditPhoto">
    <div class="row mb-3">
        <label asp-for="Key" class="col-sm-2 col-form-label">File Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="Key">
        </div>
    </div>
    <div class="row p-2">
        <label asp-for="Page" class="col-form-label col-md-3 mb-3">Page</label>
        <div class="col-md-3">
            <select asp-for="Page" class="form-select">
                <option value="">select a page</option>
                @foreach (Page p in Model.Pages)
                {
                    <option value="@p.PageId">@p.PageTitle</option>
                }
            </select>
        </div>
    </div>
    <input type="hidden" asp-for="Position" value="@Model.Position"/>
    <button type="submit" class="btn btn-primary col-2">Save Changes</button>
    <a asp-action="Index" class="btn btn-danger col-2">Cancel</a>
</form>
