@model EditViewModel
@{
    ViewBag.Title = "Change Photo";
}

<h2>Change Photo</h2>
<form method="post" asp-action="EditPhoto">
    <div class="row p-2">
        <label asp-for="Photos" class="col-form-label col-md-3 mb-3">New Photo</label>
        <div class="col-md-3">
            <select asp-for="NewPhotoId" class="form-select">
                <option value="">select a photo</option>
                @foreach (File f in Model.Photos)
                {
                    string filename = f.GetFileName();
                    <option value="@f.FileID">@filename</option>
                   
                }
            </select>
        </div>
    </div>
    <input type="hidden" asp-for="CurrentPage" value="@Model.CurrentPage"/>
    <input type="hidden" asp-for="OldPhotoId" value="@Model.OldPhotoId"/>
    <button type="submit" class="btn btn-primary col-2">Save Changes</button>
    <a asp-action="Index" class="btn btn-danger col-2">Cancel</a>
</form>
