@model Application
@{
    ViewData["Title"] = "Careers";
}

<div class="text-center">
    <h1 class="display-4 title text-jampot-green">CAREERS</h1>
    <div class="container">
        <div class="row">
            <!--Header Statement for Careers-->
            <div class="col-lg">
                <p class="bodyText">
                    @if(ViewBag.Text != null)
                    {
                        string[] paragraphs = ViewBag.Text.Content.Split("\n");
                        @foreach (string par in paragraphs)
                        {
                            <br/>@par
                        }

                        if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-controller="Admin" asp-route-id="@ViewBag.Text.TextElementId"><i class="fa-regular fa-pen-to-square"></i></a>
                        }
                    }
                </p>
            </div>
        </div>
        <div class="row">
            <p class="bodyText fs-1">Apply With Jam Pot Here!</p>
        </div>
        <!--Form for customer to contact Jam Pot-->
        <form asp-controller="Careers" asp-action="SendMessage" method="post" class="container"> <!--Action "Index" as placeholder until CRUD implemented-->
            @Html.AntiForgeryToken()
            <div class="row lg">
                <label for="name" class="control-label col-lg-2 bodyText">Name</label>
                <div class="col-lg-10">
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <input id="name" name="Name" class="form-control col-lg-10" /><br />
                </div>
            </div>
            <div class="row lg">
                <label for="phoneNumber" class="control-label col-lg-2 bodyText">Phone Number</label>
                <div class="col-lg-10">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    <input id="phoneNumber" name="PhoneNumber" class="form-control col-lg-10" /><br />
                </div>
            </div>
            <div class="row lg">
                <label for="name" class="control-label col-lg-2 bodyText">Email</label>
                <div class="col-lg-10">
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <input type="email" id="title" name="PostTitle" class="form-control col-lg-10" /><br />
                </div>
            </div>
            <div class="row lg">
                <label for="name" class="control-label col-lg-2 bodyText">Position</label>
                <div class="col-lg-10">
                    <span asp-validation-for="Position" class="text-danger"></span>
                    <input id="position" name="Position" class="form-control col-lg-10" /><br />
                </div>
            </div>
            <div class="row lg mb-3">
                <label for="resume" class="control-label col-lg-2 bodyText">Upload Resume</label>
                <div class="col-lg-4">
                    <input id="resume" name="Resume" type="file" class="form-control col-lg-10" />
                    <span asp-validation-for="Resume" class="text-danger"></span>
                </div>
            </div>
            <div class="row lg mb-3">
                <label for="name" class="control-label col-lg-2 bodyText">Insight 1</label>
                <div class="col-lg-10">
                    <span asp-validation-for="Question1" class="text-danger"></span>
                    <textarea id="question1" name="Question1" class="form-control col-lg-10" 
                    placeholder="Tell us your story..."></textarea>
                </div>
            </div>
            <div class="row lg mb-3">
                <label for="name" class="control-label col-lg-2 bodyText">Insight 2</label>
                <div class="col-lg-10">
                    <span asp-validation-for="Question2" class="text-danger"></span>
                    <textarea id="question2" name="Question2" class="form-control col-lg-10"
                     placeholder="Tell us your goals..."></textarea>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-warning col-6 col-md-3 mx-auto m-3 title">SUBMIT APPLICATION</button>
            </div>
        </form>
    </div>
</div>