@model CareersViewModel
@{
    ViewData["Title"] = "Careers";
}

<div class="text-center">
    <h1 class="display-4 title">CAREERS</h1>
    <div class="container">
        <div class="row">
            <!--Header Statement for Careers-->
            <div class="col-lg">
                <p class="bodyText">
                    Jampot is currently offering career options for: <br />
                    [Line Cook], [Dishwasher] <br />
                    You are welcome to apply for non-listed positions, but we may not reach out until those roles are needed.
                </p>
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["SuccessMessage"]
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <p class="bodyText fs-1">Apply With Jam Pot Here!</p>
        </div>
        <!--Form for customer to contact Jam Pot-->
        <form asp-controller="Careers" asp-action="CreateApplication" method="post" class="container">
            @Html.AntiForgeryToken()
            <div class="row lg">
                <label for="name" class="control-label col-lg-2 bodyText">Name</label>
                <div class="col-lg-10">
                    <span asp-validation-for="Application.Name" class="text-danger"></span>
                    <input id="name" name="Application.Name" class="form-control col-lg-10" /><br />
                </div>
            </div>
            <div class="row lg">
                <label for="phoneNumber" class="control-label col-lg-2 bodyText">Phone Number</label>
                <div class="col-lg-10">
                    <span asp-validation-for="Application.PhoneNumber" class="text-danger"></span>
                    <input id="phoneNumber" name="Application.PhoneNumber" class="form-control col-lg-10" /><br />
                </div>
            </div>
            <div class="row lg">
                <label for="name" class="control-label col-lg-2 bodyText">Email</label>
                <div class="col-lg-10">
                    <span asp-validation-for="Application.Email" class="text-danger"></span>
                    <input type="email" id="Email" name="Application.Email" class="form-control col-lg-10" /><br />
                </div>
            </div>
            <div class="row lg mb-3">
                <label for="position" class="control-label col-lg-2 bodyText">Position</label>
                <div class="col-lg-10">
                    <span asp-validation-for="Application.JobTitleID" class="text-danger"></span>
                    <select id="position" name="Application.JobTitleID" asp-for="Application.JobTitleID" asp-items="Model.Positions" class="form-control col-lg-10">
                        <option value="">-- Select a Position --</option>
                    </select>
                </div>
            </div>
            <div class="row lg mb-3">
                <label for="resume" class="control-label col-lg-2 bodyText">Upload Resume</label>
                <div class="col-lg-4">
                    <input id="resume" name="ResumeUpload" type="file" class="form-control col-lg-10" />
                    <span asp-validation-for="ResumeUpload" class="text-danger"></span>
                </div>
            </div>
            <div class="row lg mb-3">
                <label for="question1" class="control-label col-lg-2 bodyText">Insight 1</label>
                <div class="col-lg-10">
                    <span asp-validation-for="Application.Question1" class="text-danger"></span>
                    <textarea id="question1" name="Application.Question1" class="form-control col-lg-10" 
                    placeholder="Tell us your story..."></textarea>
                </div>
            </div>
            <div class="row lg mb-3">
                <label for="question2" class="control-label col-lg-2 bodyText">Insight 2</label>
                <div class="col-lg-10">
                    <span asp-validation-for="Application.Question2" class="text-danger"></span>
                    <textarea id="question2" name="Application.Question2" class="form-control col-lg-10"
                     placeholder="Tell us your goals..."></textarea>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-warning col-6 col-md-3 mx-auto mt-3 mb-5 title">SUBMIT APPLICATION</button>
            </div>
        </form>
    </div>
</div>