:root {
  --JampotYellow: #fecd2a;
  --JampotGreen: #01a955;
}

@font-face {
  font-family: "Zinjaro";
  src: url("../fonts/zinjaro-plain-fontzone.ttf");
}

@font-face {
  font-family: "Itim";
  src: url("../fonts/Itim-Regular.ttf");
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo {
  width: 100px;
}

.navbar a {
  font-family: "Zinjaro";
}

.navbar .btn-warning {
  background-color: var(--JampotYellow);
}

.banner {
  background-color: var(--JampotYellow);
}

.btn-jampot {
  background-color: var(--JampotGreen);
}

.order-filter {
  border-color: var(--JampotYellow);
  border-style: solid none;
  border-width: 1px;
}

.order-filter a {
  background-color: var(--JampotYellow);
  font-family: "Itim", serif;
}

.order-filter a:visited {
  border-color: var(--JampotGreen);
}

.navbar .btn-success {
  background-color: var(--JampotGreen);
  border-radius: 1.3rem;
}

.text-jampot,
.text-jampot a {
  color: var(--JampotGreen);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 20px;
  background-color: black;
}

.title {
  font-family: "Zinjaro", serif;
  color: var(--JampotGreen);
}

.content {
  font-family: "Itim", serif;
}

.landing-special{
  width: 400px;
}

.landing-photo{
  width: 500px;
}

.photo{
  width: 365px;
}

.bodyText {
  font-family: "Itim", serif;
  font-size: 20px;
  color: var(--JampotYellow);
}

#instagram {
  width: 65px;
}

#facebook {
  width: 50px;
}

#food {
  border-right: 1px solid var(--JampotYellow);
}

.menu-container {
  display: flex;
  justify-content: center;
}

.slideshow-container {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}
/* Next & previous buttons */
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 40px;
  padding: 8px;
  cursor: pointer;
  z-index: 10;
  border-radius: 25%;
  text-decoration: none;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fecd2a;
}
/* Caption text */
.capText {
  color: white;
  font-family: "Itim";
  font-size: 16px;
  padding: 10px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0 0 10px 10px;
}
/* Number text (1/3 etc) */
.numberText {
  color: #f2f2f2;
  font-size: 14px;
  font-family: "Itim";
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots */
.dot {
  height: 12px;
  width: 12px;
  margin: 0 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
}

.active,
.dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.6;
  }

  to {
    opacity: 1;
  }
}
