:root{
  --JampotYellow: #FECD2A;
  --JampotGreen: #01A955;
}

@font-face {
  font-family: 'Zinjaro';
  src: url('../fonts/zinjaro-plain-fontzone.ttf');
}

@font-face {
    font-family: 'Itim';
    src: url('../fonts/Itim-Regular.ttf');
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo {
  width: 100px;
}

.navbar a {
  font-family: "Zinjaro";
}

.navbar .btn-warning {
  background-color: var(--JampotYellow);
}

.navbar .btn-success {
  background-color: var(--JampotGreen);
  border-radius: 1.3rem;
}

.text-jampot, .text-jampot a {
  color: var(--JampotGreen);
}

.footer {
  line-height: normal;
}

.title{
  font-family: "Zinjaro", serif;
  color: var(--JampotGreen);
}

.bodyText {
    font-family: "Itim", serif;
    font-size: 20px;
    color: var(--JampotYellow);
}

#instagram {
  width: 65px;
}

#facebook {
  width: 50px;
}