@{
    ViewBag.Title = "Frequently Asked Questions";
    Layout = "_Layout";
}

<h2>Frequently Asked Questions</h2>
<div id="faqs" class="p-5">
    <details>
        <summary class="h5">What are your holiday hours?</summary>
        <p>We are closed on Thanksgiving Day and Christmas Day to allow our employees to spend time with their families.</p>
    </details>
    
    <details>
        <summary class="h5">Do you offer delivery?</summary>
        <p>No.</p>
    </details>
    
    <details>
        <summary class="h5">Do you have any ongoing promotions or special offers?</summary>
        <p>Absolutely! Check out our <a href="../Menu/Specials">Specials</a> page here!</p>
    </details>
</div>

