@model HomeViewModel
@{
    ViewData["Title"] = "Jampot Home Page";
}

<div class="text-center">
    <h1 class="display-4 title">JAMAICAN STYLE CAFE & JUICE BAR</h1> @*NOTE TO SELF: Zinjaro font will not display unless it's all caps!!*@
</div>