@{
    ViewData["Title"] = "Checkout";
}

<!--load web payment SDK-->
<script src="https://sandbox.web.squarecdn.com/v1/square.js" type="text/javascript"></script>

<div class="container">
    <h2>Complete your payment</h2>
    <!--payment form (provided by square)-->
    <form id="payment-form">
        <div id="card-container"></div>
        <button type="submit" class="btn btn-primary">Pay Now</button>
    </form>
</div>

<!--link client-side payments from js file-->
<script src="~/js/square-payments.js" type="module"></script>