<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - JampotCapstone</title>
    <link rel="icon" type="image/x-icon" href="/pics/JampotLogoIcon.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body class="bg-black text-white">
<header>
    <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-dark bg-black box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/pics/JampotLogo.png" alt="image of the Jampot logo" class="logo"/></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-lg-inline-flex justify-content-between">
                    <ul class="navbar-nav align-items-center">
                        <li class="nav-item">
                            <!-- Desktop button -->
                            <a class="btn btn-warning text-dark fs-2 d-none d-lg-inline nav-button" asp-area="" asp-controller="Order" asp-action="Index">ORDER</a>
                            <!-- Mobile text link -->
                            <a class="mobile-nav fs-1 d-inline d-lg-none" asp-area="" asp-controller="Order" asp-action="Index">ORDER</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-warning text-dark fs-2 d-none d-lg-inline nav-button" asp-area="" asp-controller="Catering" asp-action="Index">CATERING</a>
                            <a class="mobile-nav fs-1 d-inline d-lg-none" asp-area="" asp-controller="Catering" asp-action="Index">CATERING</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-success text-dark fs-1 d-none d-lg-inline nav-button-menu" asp-area="" asp-controller="Menu" asp-action="Index">MENU</a>
                            <a class="mobile-nav fs-1 d-inline d-lg-none" asp-area="" asp-controller="Menu" asp-action="Index">MENU</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-warning text-dark fs-2 d-none d-lg-inline nav-button" asp-area="" asp-controller="AboutUs" asp-action="Index">ABOUT</a>
                            <a class="mobile-nav fs-1 d-inline d-lg-none" asp-area="" asp-controller="AboutUs" asp-action="Index">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-warning text-dark fs-2 d-none d-lg-inline nav-button" asp-area="" asp-controller="ContactUs" asp-action="Index">CONTACT</a>
                            <a class="mobile-nav fs-1 d-inline d-lg-none" asp-area="" asp-controller="ContactUs" asp-action="Index">CONTACT</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="btn btn-danger text-dark d-none d-lg-inline fs-5" asp-area="" asp-controller="Admin" asp-action="Index">ADMIN</a>
                                <a class="mobile-nav fs-1 d-inline d-lg-none" asp-area="" asp-controller="Admin" asp-action="Index">ADMIN</a>
                            </li>
                        }
                    </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
    <hr style="width:100%; background-color: var(--JampotYellow); opacity:1;" />
</header>
<div class="container">
    <main role="main" class="pb-2">
        @RenderBody()
    </main>
</div>
<footer class="footer bg-black text-jampot-green">
        <hr style="width:100%; background-color: var(--JampotYellow); opacity:1;" />
    <div class="container">
        <div class="row align-items-center text-center">
            <ul class="col list-unstyled">
                <li><a asp-area="" asp-controller="ContactUs" asp-action="Index">Contact</a></li>
                <li><a asp-area="Identity" asp-page="/Account/Login">Admin</a></li>
                <li><a asp-area="" asp-controller="AboutUs" asp-action="Index">About</a></li>
                <li><a asp-controller="AboutUs" asp-action="Ask">FAQ</a></li>
            </ul>
            <ul class="col list-unstyled">
                <li><a asp-area="" asp-controller="Careers" asp-action="Index">Careers</a></li>
                <li><a asp-area="" asp-controller="Menu" asp-action="Specials">Specials</a></li>
                <li><a asp-area="" asp-controller="Order" asp-action="Index">Ordering</a></li>
            </ul>
            <div class="col align-self-center text-center">
                <a href="https://www.instagram.com/jampothawaii?igsh=amZxYXk5OG0yeTdi" target="_blank">
                    <img src="/pics/instagram-icon.png" alt="instagram logo" id="instagram"/>
                </a>
                <a href="#" target="_blank">
                    <img src="/pics/facebook-icon.png" alt="facebook logo" id="facebook"/>
                </a>
            </div>
        </div>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://kit.fontawesome.com/c15e31b1d9.js" crossorigin="anonymous"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>