@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav align-items-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-danger text-dark d-none d-lg-inline fs-5" style="font-size:13px; font-family:'Zinjaro', sans-serif; padding: 4px 6px;">LOGOUT</button>
                <button type="submit" class="mobile-nav fs-1 d-inline d-lg-none" style="all: unset; font-family:'Zinjaro', sans-serif; color: var(--JampotYellow);">
                    LOGOUT
                </button>
            </form>
        </li>
    }
</ul>