@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav align-items-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item m-2">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-warning text-dark fs-4 d-none d-lg-inline" style="font-size:15px; font-family:'Zinjaro', sans-serif;">LOGOUT</button>
                <button type="submit" class="mobile-nav fs-1 d-inline d-lg-none" style="all: unset; font-family:'Zinjaro', sans-serif; color: var(--JampotYellow);">
                    LOGOUT
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item m-2">
            <a class="btn btn-warning text-dark fs-4 d-none d-lg-inline" asp-area="Identity" asp-page="/Account/Login">ACCOUNT</a>
            <a class="mobile-nav fs-1 d-inline d-lg-none" asp-area="Identity" asp-page="/Account/Login">ACCOUNT</a>
        </li>
    }
</ul>