@{
    ViewData["Title"] = "Menu";
}
<header class="text-center">
    <h1 class="display-3 title">MENU</h1>
</header>
<div class="menu-container">
    <img src="~/pics/Menu.png" width="90%" alt="Jampots menu"/>
</div>