@model List<JampotCapstone.Models.File>
@{
    ViewData["Title"] = "Menu";
}
<header class="text-center">
    <h1 class="display-3 title text-jampot-green">MENU</h1>
</header>
@if(Model.Count == 1)
{
    var menu = Model[0];
    <div class="menu-container">
        <img src="@menu.FileName" width="90%" alt="Jampots menu"/>
        @if (User.IsInRole("Admin"))
        {
            <form asp-controller="Admin" asp-action="EditPhoto" method="get">
                <input type="hidden" name="id" value="@menu.FileID"/>
                <input type="hidden" name="pageTitle" value="@ViewData["Title"]"/>
                <button type="submit" class="btn btn-link">
                    <i class="fa-regular fa-pen-to-square"></i>
                </button>
            </form>
        }
    </div>
}