@model List<TextElement>
@{
    ViewData["Title"] = "Catering";
}

<div class="text-center">
    <!--Make Title "Zinjaro" Font-->
    <h1 class="display-3 title text-jampot-green">CATERING</h1>
    <div class="container">
        <!--Row of placeholder images-->
        <div class="row">
            <div class="col-md">
                <img src="/pics/DesertBowl.png" class="img-fluid responsiveSquare" alt="Desert Bowl">
            </div>
            <div class="col-md">
                <img src="/pics/ElectrolyteRefresh.png" class="img-fluid responsiveSquare" alt="Electrolyte Refresh Drink">
            </div>
            <div class="col-md">
                <img src="/pics/GardenWrap.png" class="img-fluid responsiveSquare" alt="Vegan Garden Wrap">
            </div>
        </div>
        <!--Text elements with features and catering details-->
        <div class="row">
            @if(Model.Count > 0)
            {
                foreach (TextElement col in Model)
                {
                <div class="col-lg">
                    <h1 class="display-6 title text-jampot-green">@col.Name</h1>
                    <p class="bodyText">
                        @{ string[] paragraphs = col.Content.Split("\n");}
                        @foreach(string par in paragraphs)
                        {
                            <br/>@par
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="TextEdit" asp-controller="Admin" asp-route-id="@col.TextElementId"><i class="fa-regular fa-pen-to-square"></i></a>
                        }
                    </p>
                </div>
                }
            }
        </div>
        <div class="nav-item row">
            <a class="btn btn-warning text-dark fs-4 col-lg-5 mx-auto mb-5 title" asp-area="" asp-controller="ContactUs" asp-action="Index">CONTACT US</a>
        </div>
    </div>
</div>